[user]
	email = haroldpimentel@gmail.com
	name = Harold Pimentel
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	sts = status -uno
	slog = log --oneline --topo-order --graph
[push]
	default = current
[core]
	editor = atom --wait
	excludesfile = /Users/hjp/.gitignore_global
