*/
*

!.*/
!.*
!scripts/
!scripts/*
!.elisp/
!.elisp/*
!.emacs_lib/
!.emacs_lib/*
!.vim/bundle/
!.vim/bundle/*

*.*.bak
TODO
slides

.newsrc*
.cvspass
.ido.last
.serverauth*
.anyconnect
.authinfo
.profile
.xdvirc
.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.cups
.dropbox
.elinks
.font*
.gnupg
.keychain
.lesshst
.ncftp
.mairix
.msf3
.macports
.mutt/aliases
.mutt/certificates
.mutt/lists
.offlineimap/
.qt
.ssh/
.subversion
.svk/
.sw?
.unison/*
.zcompdump
.*history
.zsh/cache/

*pyc
