[submodule ".vim/bundle/tComment"]
	path = .vim/bundle/tComment
	url = https://github.com/vim-scripts/tComment.git
[submodule ".vim/bundle/colorschemes"]
	path = .vim/bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/LaTeX-Box"]
	path = .vim/bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule ".vim/bundle/Vim-R-plugin"]
	path = .vim/bundle/Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
