*/
*

!.*/
!.*
!scripts/
!scripts/*
!.elisp/
!.elisp/*
!.emacs_lib/
!.emacs_lib/*
!.vim/
!.vim/*
# FIXME: Doesn't allow to add directories in .vim/bundle
!/.vim/bundle/*

*.*.bak
TODO
slides

.ido.last
.anyconnect
.awsrc
.awssecret
.authinfo
.cvspass
.profile
.xdvirc
.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.cups
.dropbox
.elinks
.font*
.gnupg
.htoprc
.keychain
.lesshst
.ncftp
.mairix
.msf3
.macports
.newsrc*
.mutt/aliases
.mutt/certificates
.mutt/lists
.offlineimap/
.pkglist
.qt
.serverauth*
.ssh/
.subversion
.svk/
.sw?
.unison/*
.zcompdump
.*history
.zsh/cache/

*pyc
