"*":
  "advanced-open-file":
    helmDirSwitch: true
  "arduino-upload":
    arduinoExecutablePath: "/Applications/Arduino.app"
  "atom-beautify":
    general:
      _analyticsUserId: "50ceded3-dfec-47f1-b76d-8ef99a650bfa"
  "atom-ctags": {}
  "atom-material-ui":
    fonts: {}
  "atom-terminal": {}
  "autoclose-html": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  "autocomplete-python":
    useKite: false
  autosave:
    enabled: true
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "symbols-view"
      "todo-show"
      "language-gfm"
      "language-babel"
      "platformio-ide"
      "mcduino"
      "linter"
      "language-latex"
      "atom-terminal"
      "term3"
      "paste-buffer"
    ]
    themes: [
      "one-dark-ui"
      "spacegray-dark-neue-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "f8ee241b-2a16-2363-521e-86a0af57466b"
  "git-plus": {}
  "grammar-token-limit": {}
  "highlight-selected": {}
  "js-hyperclick": {}
  "language-babel": {}
  linter:
    errorPanelHeight: 109
    lintOnFly: false
    showErrorInline: false
    showErrorTabLine: true
  "linter-clang": {}
  "linter-eslint": {}
  "linter-jshint": {}
  "linter-lintr":
    linters: "with_defaults( camel_case_linter = NULL, commented_code_linter = NULL, closed_curly_linter = NULL, line_length_linter = line_length_linter(120), object_usage_linter = NULL, single_quotes_linter = NULL, trailing_blank_lines_linter = NULL )"
  "linter-shellcheck": {}
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-writer":
    fileExtension: ".md"
    siteEngine: "jekyll"
  mcduino:
    arduinoPath: "/Applications/Arduino.app"
  minimap:
    autoToggle: false
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "one-dark-ui": {}
  "platformio-ide":
    showHomeScreen: false
  "platformio-ide-terminal":
    core:
      autoRunCommand: "export PATH=/Users/hjp/.atom/packages/platformio-ide/penv/bin:/Users/hjp/bin:/usr/local/opt/ccache/libexec:/Users/hjp/.virtualenvs/py2/bin:/Users/hjp/.rvm/gems/ruby-2.3.0/bin:/Users/hjp/.rvm/gems/ruby-2.3.0@global/bin:/Users/hjp/.rvm/rubies/ruby-2.3.0/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/usr/local/MacGPG2/bin:/usr/texbin:/Users/hjp/.rvm/bin:/Users/hjp/.rvm/bin"
  "r-exec":
    whichApp: "Safari"
  "r-studio":
    whichApp: "RStudio"
  "remote-edit": {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
      "source.md"
    ]
  swackets: {}
  "symbols-tree-view": {}
  "terminal-plus":
    core: {}
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
  "todo-show": {}
  "tool-bar":
    position: "Left"
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "unity-dark-ui": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
