"*":
  "exception-reporting":
    userId: "f8ee241b-2a16-2363-521e-86a0af57466b"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    showIndentGuide: true
    scrollPastEnd: true
    softWrap: true
  core:
    disabledPackages: [
      "symbols-view"
    ]
    themes: [
      "one-dark-ui"
      "spacegray-dark-neue-syntax"
    ]
  "atom-beautify": {}
  minimap:
    plugins:
      "minimap-autohide": true
    autoToggle: false
  linter:
    showErrorTabLine: true
  "atom-ctags": {}
  "unity-dark-ui": {}
  "markdown-preview": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  "advanced-open-file":
    helmDirSwitch: true
  swackets: {}
  "tree-view": {}
  "one-dark-ui": {}
  "git-plus": {}
  "autoclose-html": {}
  "highlight-selected": {}
  "todo-show": {}
  "remote-edit": {}
