"*":
  "advanced-open-file":
    helmDirSwitch: true
  "atom-beautify": {}
  "atom-ctags": {}
  "atom-material-ui":
    fonts: {}
  "atom-terminal": {}
  "autoclose-html": {}
  "autocomplete-plus":
    confirmCompletion: "tab"
  "autocomplete-python": {}
  core:
    disabledPackages: [
      "symbols-view"
      "todo-show"
      "jshint"
      "markdown-writer"
      "language-gfm"
    ]
    themes: [
      "one-dark-ui"
      "spacegray-dark-neue-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "f8ee241b-2a16-2363-521e-86a0af57466b"
  "git-plus": {}
  "highlight-selected": {}
  "js-hyperclick": {}
  linter:
    errorPanelHeight: 109
    showErrorTabLine: true
  "linter-jshint": {}
  "linter-lintr":
    linters: "with_defaults( camel_case_linter = NULL, commented_code_linter = NULL, closed_curly_linter = NULL, line_length_linter = line_length_linter(120), object_usage_linter = NULL, single_quotes_linter = NULL, trailing_blank_lines_linter = NULL )"
  "linter-shellcheck": {}
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-writer":
    fileExtension: ".md"
    siteEngine: "jekyll"
  minimap:
    autoToggle: false
    plugins:
      "minimap-autohide": true
      pigments: true
  "one-dark-ui": {}
  "r-exec":
    advancePosition: true
  "remote-edit": {}
  swackets: {}
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
  "todo-show": {}
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view": {}
  "unity-dark-ui": {}
  welcome:
    showOnStartup: false
