sleuth:
  'title': 'sleuth'
  'devMode': true
  'paths': [
    '~/dev/sleuth'
    '~/analysis/bears_analyses'
    '~/analysis/sleuth_paper'
    '~/analysis/cuffdiff2_analysis'
    '~/dev/mamabear'
  ]

rExec:
  'title': 'r-exec'
  'devMode': true
  'paths': [
    '~/github/r-exec'
  ]

pasteBuffer:
  'title': 'paste-buffer'
  'devMode': true
  'paths': [
    '~/github/paste-buffer'
  ]

atomDevel:
  'title': 'AtomDevel'
  'devMode': true
  'paths': [
    '~/github'
  ]

sleuthDebug:
  'title': 'debugging sleuth'
  'paths': [
    '~/debug'
  ]

kallisto:
  'title': 'kallisto'
  'paths': [
    '~/dev/kallisto'
  ]

voicecode:
  'title': 'VoiceCode'
  'paths': [
    '~/voicecode_user'
    '~/voicecode/commando'
  ]

web:
  'title': 'Websites'
  'paths': [
    '~/web'
  ]

kallistoPaper:
  'title': 'kallisto paper'
  'paths': [
    '~/analysis/kallisto_paper_analysis'
  ]

benchCI:
  'title': 'bench-ci'
  'paths': [
    '~/dev/bench-ci'
  ]

notes:
  'title': 'notes'
  'paths': [
    '~/notes'
  ]

nerdSkincare:
  'title': 'nerd skincare'
  'paths': [
    '~/dev/nerdSkincare'
  ]
